.react-virtual-list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.react-virtual-list-scroll {
    position: absolute;
    width: 100%;
}

.react-real-list-container {
    position: absolute;
    width: 100%;
}

.react-virtual-list-item {
    box-sizing: border-box;
}